.about-us {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-left: 16px;
  margin-right: 16px;
}

.person-card {
  text-decoration: none;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: transform 0.3s;
}

.person-card:hover {
  background-color: white;
  color: black;
}

.person-image {
  width: 50%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .person-name {
    font-size: 16px;
  }

  .person-quote {
    font-size: 8px;
  }
}

.contents {
  margin: auto;
  width: 70%;
}
